<article class="post">
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor sit amet.
        </h2>
    </header>
    <div class="post__body">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam sit repudiandae commodi illum dolores ut voluptatibus officiis laudantium, dicta maiores accusamus voluptate ullam minima, magni explicabo adipisci quibusdam vel repellat nesciunt perferendis voluptatum debitis quo sequi suscipit. Voluptas porro velit maiores eveniet a odit ratione. Quidem, quasi. Autem, quasi sed?
    </div>
</article>